@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.title {
  margin: 10px 0 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.container img {
  object-fit: cover;
  margin: 15px;
  width: 300px;
  height: 300px;
  max-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container img.loaded {
  opacity: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
